## 1_Python Fundamentals

In [4]:
## Write Python code that prints your name, student number and email address
name = "Sarathkumar ES"
student_number = "S0001"
email_address = "sarathk9526@gmail.com"

In [6]:
print(name)
print(student_number)
print( email_address)

Sarathkumar ES
S0001
sarathk9526@gmail.com

In [30]:
#  escape sequences to print your name, student number, and email address
print("\tSarathkumar \n\tS0001\n\tsarathk9526@gmail.com")

	Sarathkumar
	S0001
	sarathk9526@gmail.com

In [46]:
# Write Python code that add, subtract, multiply and divide the two numbers 14 and 7

x = 14
y = 7

In [48]:
addition = x + y
subtraction = x - y
multiplication = x * y
division = x / y

print("14+7=", addition)
print("14-7=", subtraction)
print("14*7=", multiplication)
print("14/7=", division)

14+7= 21
14-7= 7
14*7= 98
14/7= 2.0

In [62]:
# Python code that displays the numbers from 1 to 5 as stepsp
print("1\n2\n3\n4\n5")

1
2
3
4
5

In [64]:
# Python code that outputs the following sentence (including the quotation marks and line break) to the screen:

print('SDX"SDK" stands for "Software Development Kit", whereas \n"IDE" stands for "Integrated Development Environment".')

SDX"SDK" stands for "Software Development Kit", whereas
"IDE" stands for "Integrated Development Environment".

In [66]:
print("python is an \"awesome\" language.")

python is an "awesome" language.

In [68]:
print("python\n\t2023")

python
	2023

In [70]:
print('I\'m from Entri.\b')

I'm from Entri

In [72]:
print("\65")

5

In [74]:
print("\x65")

e

In [82]:
print("Entri", "2023", sep="\n")

Entri
2023

In [84]:
print("Entri", "2023", sep="\b")

Entr2023

In [86]:
print("Entri", "2023", sep="*", end="\b\b\b\b")

Entri*20

# Define the variables below. Print the types of each variable. What is the sum of your variables? 
num=23
textnum="57"
decimal=98.3

In [96]:
type(23)

int

In [98]:
type("57")

str

In [100]:
type(98.3)

float

In [106]:
# Print the types of each variable
x = 23
y = "57"
z = 98.3

print("Type of 23:", type(x))
print('Type of "57":', type(y))
print("Type of 98.3:", type(z))

Type of 23: <class 'int'>
Type of "57": <class 'str'>
Type of 98.3: <class 'float'>

In [118]:
# Calculate the sum
# Convert the string textnum to an integer for addition
y_converted = int(y)
total_sum = x + y_converted + z
print("sum of varibles:",total_sum)

sum of varibles: 178.3

In [120]:
# data type of sum
print("Type of sum:", type(total_sum))

Type of sum: <class 'float'>

#calculate the number of minutes in a year using variables for each unit of time. print a statement that describes what your code does also. Create three variables to store no of days in a year, minute in a hour, hours in a day, then calculate the total minutes in a year and print the values
(hint) total number of minutes in an year =No.of days in an year * Hours in a day * Minutes in an hour

In [132]:
#calculate the number of minutes in a year
# Define variables for units of time
days_in_year = 365          # Number of days in a year (non-leap year)
hours_in_day = 24           # Number of hours in a day
minutes_in_hour = 60        # Number of minutes in an hour

# Calculate the total number of minutes in a year
total_minutes_in_year = days_in_year * hours_in_day * minutes_in_hour

# Print a statement describing what the code does
print("This code calculates the total number of minutes in a year.")
print("Days in a year:", days_in_year)
print("Hours in a day:", hours_in_day)
print("Minutes in an hour:", minutes_in_hour)
print("Total minutes in a year= days_in_year * hours_in_day * minutes_in_hour", total_minutes_in_year)

This code calculates the total number of minutes in a year.
Days in a year: 365
Hours in a day: 24
Minutes in an hour: 60
Total minutes in a year= days_in_year * hours_in_day * minutes_in_hour 525600

In [1]:
# Ask the user to enter their name

name = input("Please enter your name: ")
print(f"Hi {name}, welcome to Python programming :)")

Please enter your name:  John

Hi John, welcome to Python programming :)