# #Topic :List

In [5]:

#  Create a list of 5 random numbers and print the list.
import random


random_numbers = [random.randint(1, 100) for _ in range(5)]

# Print the list
print("List of 5 random numbers:", random_numbers)

List of 5 random numbers: [48, 49, 100, 32, 76]

In [9]:
# insert 3 new random values into the list

new_numbers = [random.randint(1, 100) for _ in range(3)]
random_numbers.extend(new_numbers)

# Print the list
print("Updated List of random numbers:", random_numbers)

Updated List of random numbers: [48, 49, 100, 32, 76, 100, 22, 77, 12, 37, 42]

In [11]:
# using a for loop to print each element in the list.

print("Each element in the updated list:")
for number in random_numbers:
    print(number)

Each element in the updated list:
48
49
100
32
76
100
22
77
12
37
42

## Topic: Dictionary

In [16]:
# creating dictionary

school = {
    'name': 'John','age': 25,'address': 'New York'}
# Print the dictionary
print(school)

{'name': 'John', 'age': 25, 'address': 'New York'}

In [20]:
# Add a new key and value


school['phone'] = '1234567890'
print(school)

{'name': 'John', 'age': 25, 'address': 'New York', 'phone': '1234567890'}

## Topic: Set

In [24]:
# Create a set with values 1, 2, 3, 4, and 5.
dummy_set = {1, 2, 3, 4, 5}

# Print the set
print(dummy_set)

{1, 2, 3, 4, 5}

In [26]:
# Add the value 6 to the set

dummy_set.add(6)

# Print the updated set
print(dummy_set)

{1, 2, 3, 4, 5, 6}

In [28]:
# Remove the value 3 from the set

dummy_set.remove(3)

# Print the updated set
print(dummy_set)

{1, 2, 4, 5, 6}

## Topic:Tuple

In [31]:
# creating a tuple

dummy_tuple = (1, 2, 3, 4)

# Print the tuple
print(dummy_tuple)

(1, 2, 3, 4)

In [33]:
# Print the length of the tuple

print("length of the tuple is:", len(dummy_tuple))

length of the tuple is: 4